
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed';
}

.app-box{
  height: 100vh;
  height: 100svh;
  width: 100vw;
  width: 100svw;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(138,138,138,1) 100%);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.no-landscape{
  display: none;
}

.searchbar-box{
  background: linear-gradient(0deg, rgba(138,138,138,0.8) 0%,rgba(150,0,255,0.8) 100%);
  box-shadow: 0 0 5px black;
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid white;
}

.s1{
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.s2{
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.s3{
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s3 p{
  font-size: 30px;
  margin-left: 10px;
  cursor: pointer;
  transition: .2s;
}

.searchbar-title{
  font-family: 'Madimi One';
  font-size: 3em;
  font-weight: bold;
  color: white;
  margin-left: 50px;
  cursor: pointer;
  transition: .3s;
}

.searchbar-title-logo{
  font-size: 80px;
  margin-left: 10px;
}

.searchbar-results{
  font-size: 20px;
  color: white;
  margin-left: 10px;
  padding: 3px;
}

.searchbar-results span{
  font-weight: bold;
}

.searchbar-title:hover{
  letter-spacing: 5px;
}

.searchbar-input{
  height: 50px;
  width: 50%;
  border-radius: 50px;
  font-size: 25px;
  background: rgba(115,0,255,1);
  color: white;
  text-align: center;
  outline: none;
  border: 3px solid white;
  transition: .3s;
}

.searchbar-input::placeholder{
  color: rgba(255,255,255,0.7);
  font-style: italic;
}

.searchbar-reset{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  margin-left: 30px;
  font-weight: bold;
  font-family: 'Madimi One';
  border: 3px solid white;
  background: rgba(115,0,255,1);
  cursor: pointer;
  color: white;
  transition: .2s;
}

.searchbar-reset:hover{
  color: rgba(115,0,255,1);
  background: white;
}


.movie-box{
  height: 45%;
  min-width: 100%;
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  align-items: center;
  list-style: none;
  transition: .2s;
}

::-webkit-scrollbar{
  height: 20px;
}

::-webkit-scrollbar-track{
  background: white;
}

::-webkit-scrollbar-thumb{
  background: rgb(43, 43, 43);
  border-radius: 10px;
}

.movie-box-loader{
  height: 80%;
  width: 100%;
  display: flex;
  scroll-behavior: smooth;
  justify-content: center;
  align-items: center;
  transition: .2s;
}

.loader{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-noerror{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot1{
  font-size: 100px;
  font-family: 'Madimi One';
  color: white;
  position: relative;
  animation: dotAnim .8s linear alternate infinite;
}

@keyframes dotAnim{
  0%{
    top: 0%;
  }
  25%{
    top: 4%;
  }
  50%{
    top: 8%;
  }
  80%{
    top: 4%;
  }
  100%{
    top: 0%;
  }
}

.dot2{
  font-size: 100px;
  font-family: 'Madimi One';
  color: white;
  position: relative;
  animation: dotAnim .8s .1s linear infinite;
}

.dot3{
  font-size: 100px;
  font-family: 'Madimi One';
  color: white;
  position: relative;
  animation: dotAnim .8s .2s linear infinite;
}

.dot4{
  font-size: 100px;
  font-family: 'Madimi One';
  color: white;
  display: flex;
  position: relative;
  animation: dotAnim .8s .3s linear infinite;
}

.movie-element{
  height: 90%;
  width: 15%;
  border-radius: 10px;
  flex: none;
  cursor: pointer;
  margin-left: 5px;
}

.movie-image{
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: 3px solid white;
  transition: .3s;
}

.movie-image:hover{
  transform: scale(0.8);
}

.movielist-start{
  font-size: 100px;
  font-weight: bold;
  color: white;
  font-family: 'Madimi One';
  animation: robo 4s linear infinite;
}

@keyframes robo{
  0%{
    transform: rotate3d(0,1,0,0deg)
  }
  100%{
    transform: rotate3d(0,1,0,360deg)
  }
}

.details-box{
  background: linear-gradient(0deg, rgba(150,0,255,0.9) 0%, rgba(138,138,138,0.8) 100%);
  height: 45%;
  width: 100%;
  border-top: 3px solid white;
  display: flex;
  transition: .2s;
}

.details-box-notext{
  background: linear-gradient(0deg, rgba(150,0,255,0.9) 0%, rgba(138,138,138,0.8) 100%);
  height: 10%;
  width: 100%;
  border-top: 3px solid white;
  display: flex;
  transition: .2s;
}

.details-box-empty{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  height: 100%;
  width: 100%;
  position: relative;
}

.details-box-empty div{
  font-size: 15px;
  color: white;
}

.details-box-left{
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1.5px solid white;
}

.details-box-left-con{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1.5px solid white;
}

.details-poster-box{
  display: flex;
  height: 100%;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.details-poster{
  height: 420px;
  width: 300px;
  border: 2px solid white;
  border-radius: 10px;
}

.details-summary-box{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  justify-content: center;
  align-items: left;
  color: white;
}

.details-summary-box span{
  font-weight: bold;
}

.stars{
  display: flex; 
}

.star{
  font-size: 30px;
  cursor: pointer;
}

.rate-button{
  margin-top: 10px;
  width: 20%;
  height: 40px;
  background: rgba(150,0,255,1);
  border: 3px solid white;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  transition: .2s;
}

.rate-button:hover{
  color: rgba(150,0,255,1);
  background: white;
}

.details-plot{
  margin-top: 10px;
  padding-top: 5px;
}

.details-box-right{
  height: 100%;
  width: 50%;
  border-left: 2px solid white;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

.details-rated-title{
  font-size: 40px;
  color: white;
  font-weight: bold;
  font-family: 'Madimi One';
  display: flex;
  justify-content: center;
  border-bottom: 3px solid white;
  box-shadow: 0 0 5px black;
}

.ratedMovie{
  height: 180px;
  font-size: 15px;
  width: 100%;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  transition: .2s;
}

.ratedMovie:hover{
  background: rgba(0,0,0,0.2)
}

.ratedMovie-poster-box{
  height: 100%;
  width: 33.333%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.ratedMovie-mobile-box{
  display: none;
}

.ratedMovie-poster{
  height: 100%;
  width: 35%;
  border: 2px solid white;
  border-radius: 10px;
}

.ratedMovie-title-box{
  color: white;
  width: 33.333%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ratedMovie-rating-box{
  width: 33.333%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
}

.ratedMovie-rating{
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-right: 1px;
}

.ratedMovie-star{
  position: absolute;
  top: 44.5%;
}

@media (orientation: landscape) and (max-width: 960px){
  .app-box{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(138,138,138,1) 100%);
    display: none;
    flex-direction: column;
  }

  .no-landscape{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(138,138,138,1) 0%,rgba(150,0,255,1) 100%);
    height: 100vh;
    width: 100vw;
  }

  .no-landscape p{
    color: white;
    font-size: 4vw;
    font-family: 'Madimi One';
  }
}

@media (max-width: 400px){
  .s1{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  
  .s2{
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .s3{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
  }

  .s3 p{
    font-size: 20px;
    cursor: pointer;
    transition: .2s;
    margin-left: 0px;
    margin-right: 5px;
  }

  .searchbar-title{
    font-family: 'Madimi One';
    font-size: 1em;
    font-weight: bold;
    color: white;
    margin-left: 10px;
    cursor: pointer;
    transition: .3s;
  }
  
  .searchbar-title-logo{
    display: none;
    font-size: 1em;
    margin-left: 5px;
  }
  
  .searchbar-results{
    display: none;
    font-size: 1px;
    color: white;
    margin-left: 5px;
    padding: 3px;
  }
  
  .searchbar-results span{
    font-weight: bold;
  }
  
  .searchbar-title:hover{
    letter-spacing: 0px;
  }
  
  .searchbar-input{
    height: 50%;
    width:90%;
    border-radius: 50px;
    font-size: 15px;
    background: rgba(115,0,255,1);
    color: white;
    text-align: center;
    outline: none;
    border: 3px solid white;
    transition: .3s;
  }
  
  .searchbar-input::placeholder{
    color: rgba(255,255,255,0.7);
    font-style: italic;
  }
  
  .searchbar-reset{
    display: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    margin-left: 30px;
    font-weight: bold;
    font-family: 'Madimi One';
    border: 3px solid white;
    background: rgba(115,0,255,1);
    cursor: pointer;
    color: white;
    transition: .2s;
  }
  
  .searchbar-reset:hover{
    color: rgba(115,0,255,1);
    background: white;
  }

  /* -------------------------- END OF SEARCHBAR*/

  .movie-element{
    height: 96%;
    width: 50%;
    border-radius: 10px;
    flex: none;
    cursor: pointer;
    margin-left: 5px;
  }

  .movie-image:hover{
    transform: scale(1);
  }
  
  .movie-image{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: 3px solid white;
    transition: .3s;
  }

  /* --------------------- END OF MOVIE LIST*/

  .details-box-empty div{
    position: relative;
    font-size: 10px;
    top: 10%;
    color: white;
  }

  .details-box-left{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1.5px solid white;
  }
  
  .details-box-left-con{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1.5px solid white;
  }

  .details-box-right{
    height: 100%;
    width: 30%;
    border-left: 2px solid white;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
  }

  .details-poster-box{
    display: flex;
    height: 25%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .details-poster{
    margin-top: 40px;
    height: 70px;
    width: 50px;
    border: 2px solid white;
    border-radius: 10px;
  }
  
  .details-summary-box{
    display: flex;
    flex-direction: column;
    height:75%;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .details-summary-box h2{
    font-size: 13px;
    text-align: center;
  }

  .details-summary-box p{
    font-size: 12px;
  }
  
  .details-summary-box span{
    font-weight: bold;
  }
  
  .stars{
    display: flex; 
  }
  
  .star{
    font-size: 21px;
    cursor: pointer;
  }

  .details-summary-country{
    display: none;
  }
  
  .rate-button{
    width: 80%;
    height: 50px;
    background: rgba(115,0,255,1);
    border: 3px solid white;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
    transition: .2s;
  }
  
  .rate-button:hover{
    color: white;
    background: rgba(115,0,255,1);
  }
  
  .details-plot{
    display: none;
    margin-top: 10px;
    padding-top: 5px;
  }

  /* ------------ END OF DETAILS*/

  .details-rated-title{
    font-size: 18px;
    color: white;
    font-weight: bold;
    font-family: 'Madimi One';
    display: flex;
    justify-content: center;
    border-bottom: 3px solid white;
    box-shadow: 0 0 5px black;
  }
  
  .ratedMovie{
    height: 120px;
    font-size: 15px;
    width: 100%;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .ratedMovie-poster-box{
    display: none;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
  }
  
  .ratedMovie-poster{
    height: 100%;
    width: 100%;
    border: 2px solid white;
    border-radius: 10px;
  }
  
  .ratedMovie-title-box{
    color: white;
    width: 33.333%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
  }
  
  .ratedMovie-rating-box{
    display: none;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .ratedMovie-rating{
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-right: 1px;
  }
  
  .ratedMovie-star{
    position: absolute;
    top: 40%;
  }

  .ratedMovie:hover{
    background: rgba(0,0,0,0.0);
  }

  .ratedMovie-mobile-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
  }

  .ratedMovie-mobile-poster{
    height: 95%;
    width: 90%;
    border-radius: 10px;
  }

  .ratedMovie-mobile-cover{
    height: 95%;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
  }

  .ratedMovie-mobile-rating{
    color: white;
    position: absolute;
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    font-weight: bold;
  }

  .ratedMovie-mobile-star{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
  }
}

@media (min-width: 400px) and (max-width: 700px){
  .s1{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  
  .s2{
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .s3{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
  }

  .s3 p{
    font-size: 30px;
    cursor: pointer;
    transition: .2s;
    margin-left: 0px;
    margin-right: 5px;
  }

  .searchbar-title{
    font-family: 'Madimi One';
    font-size: 1.3em;
    font-weight: bold;
    color: white;
    margin-left: 10px;
    cursor: pointer;
    transition: .3s;
  }
  
  .searchbar-title-logo{
    display: none;
    font-size: 1em;
    margin-left: 5px;
  }
  
  .searchbar-results{
    display: none;
    font-size: 1px;
    color: white;
    margin-left: 5px;
    padding: 3px;
  }
  
  .searchbar-results span{
    font-weight: bold;
  }
  
  .searchbar-title:hover{
    letter-spacing: 0px;
  }
  
  .searchbar-input{
    height: 50%;
    width:90%;
    border-radius: 50px;
    font-size: 15px;
    background: rgba(115,0,255,1);
    color: white;
    text-align: center;
    outline: none;
    border: 3px solid white;
    transition: .3s;
  }
  
  .searchbar-input::placeholder{
    color: rgba(255,255,255,0.7);
    font-style: italic;
  }
  
  .searchbar-reset{
    display: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    margin-left: 30px;
    font-weight: bold;
    font-family: 'Madimi One';
    border: 3px solid white;
    background: rgba(115,0,255,1);
    cursor: pointer;
    color: white;
    transition: .2s;
  }
  
  .searchbar-reset:hover{
    color: rgba(115,0,255,1);
    background: white;
  }

  /* -------------------------- END OF SEARCHBAR*/

  .movie-element{
    height: 96%;
    width: 50%;
    border-radius: 10px;
    flex: none;
    cursor: pointer;
    margin-left: 5px;
  }

  .movie-image:hover{
    transform: scale(1);
  }
  
  .movie-image{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: 3px solid white;
    transition: .3s;
  }

  /* --------------------- END OF MOVIE LIST*/

  .details-box-empty div{
    position: relative;
    font-size: 10px;
    top: 10%;
    color: white;
  }

  .details-box-left{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1.5px solid white;
  }
  
  .details-box-left-con{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1.5px solid white;
  }

  .details-box-right{
    height: 100%;
    width: 30%;
    border-left: 2px solid white;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
  }

  .details-poster-box{
    display: flex;
    height: 40%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .details-poster{
    margin-top: 40px;
    height: 150px;
    width: 100px;
    border: 2px solid white;
    border-radius: 10px;
  }
  
  .details-summary-box{
    display: flex;
    flex-direction: column;
    height:60%;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .details-summary-box h2{
    font-size: 16px;
    text-align: center;
  }

  .details-summary-box p{
    font-size: 14px;
  }
  
  .details-summary-box span{
    font-weight: bold;
  }
  
  .stars{
    display: flex; 
  }
  
  .star{
    font-size: 24px;
    cursor: pointer;
  }

  .details-summary-country{
    display: none;
  }
  
  .rate-button{
    width: 80%;
    height: 50px;
    background: rgba(115,0,255,1);
    border: 3px solid white;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
    transition: .2s;
  }
  
  .rate-button:hover{
    color: white;
    background: rgba(115,0,255,1);
  }
  
  .details-plot{
    display: none;
    margin-top: 10px;
    padding-top: 5px;
  }

  /* ------------ END OF DETAILS*/

  .details-rated-title{
    font-size: 18px;
    color: white;
    font-weight: bold;
    font-family: 'Madimi One';
    display: flex;
    justify-content: center;
    border-bottom: 3px solid white;
    box-shadow: 0 0 5px black;
  }
  
  .ratedMovie{
    height: 150px;
    font-size: 15px;
    width: 100%;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .ratedMovie-poster-box{
    display: none;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
  }
  
  .ratedMovie-poster{
    height: 100%;
    width: 100%;
    border: 2px solid white;
    border-radius: 10px;
  }
  
  .ratedMovie-title-box{
    color: white;
    width: 33.333%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
  }
  
  .ratedMovie-rating-box{
    display: none;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .ratedMovie-rating{
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-right: 1px;
  }
  
  .ratedMovie-star{
    position: absolute;
    top: 40%;
  }

  .ratedMovie:hover{
    background: rgba(0,0,0,0.0);
  }

  .ratedMovie-mobile-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
  }

  .ratedMovie-mobile-poster{
    height: 95%;
    width: 90%;
    border-radius: 10px;
  }

  .ratedMovie-mobile-cover{
    height: 95%;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
  }

  .ratedMovie-mobile-rating{
    color: white;
    position: absolute;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    font-weight: bold;
  }

  .ratedMovie-mobile-star{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
  }
}

@media (min-width: 701px) and (max-width: 1025px){
  .s1{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  
  .s2{
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .s3{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
  }

  .s3 p{
    font-size: 40px;
    cursor: pointer;
    transition: .2s;
    margin-left: 0px;
    margin-right: 5px;
  }

  .searchbar-title{
    font-family: 'Madimi One';
    font-size: 2.2em;
    font-weight: bold;
    color: white;
    margin-left: 14px;
    cursor: pointer;
    transition: .3s;
  }
  
  .searchbar-title-logo{
    display: none;
    font-size: 1em;
    margin-left: 5px;
  }
  
  .searchbar-results{
    display: none;
    font-size: 1px;
    color: white;
    margin-left: 5px;
    padding: 3px;
  }
  
  .searchbar-results span{
    font-weight: bold;
  }
  
  .searchbar-title:hover{
    letter-spacing: 0px;
  }
  
  .searchbar-input{
    height: 50%;
    width: 94%;
    border-radius: 50px;
    font-size: 23px;
    background: rgba(115,0,255,1);
    color: white;
    text-align: center;
    outline: none;
    border: 3px solid white;
    transition: .3s;
  }
  
  .searchbar-input::placeholder{
    color: rgba(255,255,255,0.7);
    font-style: italic;
  }
  
  .searchbar-reset{
    display: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    margin-left: 30px;
    font-weight: bold;
    font-family: 'Madimi One';
    border: 3px solid white;
    background: rgba(115,0,255,1);
    cursor: pointer;
    color: white;
    transition: .2s;
  }
  
  .searchbar-reset:hover{
    color: rgba(115,0,255,1);
    background: white;
  }

  /* -------------------------- END OF SEARCHBAR*/

  .movie-element{
    height: 96%;
    width: 50%;
    border-radius: 10px;
    flex: none;
    cursor: pointer;
    margin-left: 5px;
  }

  .movie-image:hover{
    transform: scale(1);
  }
  
  .movie-image{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: 3px solid white;
    transition: .3s;
  }

  /* --------------------- END OF MOVIE LIST*/

  .details-box-empty div{
    position: relative;
    font-size: 10px;
    top: 10%;
    color: white;
  }

  .details-box-left{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1.5px solid white;
  }
  
  .details-box-left-con{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1.5px solid white;
  }

  .details-box-right{
    height: 100%;
    width: 30%;
    border-left: 2px solid white;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
  }

  .details-poster-box{
    display: flex;
    height: 40%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .details-poster{
    margin-top: 40px;
    height: 200px;
    width: 140px;
    border: 2px solid white;
    border-radius: 10px;
  }
  
  .details-summary-box{
    display: flex;
    flex-direction: column;
    height:60%;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .details-summary-box h2{
    font-size: 24px;
    text-align: center;
  }

  .details-summary-box p{
    font-size: 18px;
  }
  
  .details-summary-box span{
    font-weight: bold;
  }
  
  .stars{
    display: flex; 
  }
  
  .star{
    font-size: 32px;
    cursor: pointer;
  }

  .details-summary-country{
    display: none;
  }
  
  .rate-button{
    width: 50%;
    height: 50px;
    background: rgba(115,0,255,1);
    border: 3px solid white;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
    transition: .2s;
  }
  
  .rate-button:hover{
    color: white;
    background: rgba(115,0,255,1);
  }
  
  .details-plot{
    display: none;
    margin-top: 10px;
    padding-top: 5px;
  }

  /* ------------ END OF DETAILS*/

  .details-rated-title{
    font-size: 30px;
    color: white;
    font-weight: bold;
    font-family: 'Madimi One';
    display: flex;
    justify-content: center;
    border-bottom: 3px solid white;
    box-shadow: 0 0 5px black;
  }
  
  .ratedMovie{
    height: 240px;
    font-size: 14px;
    width: 100%;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .ratedMovie-poster-box{
    display: none;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
  }
  
  .ratedMovie-poster{
    height: 100%;
    width: 100%;
    border: 2px solid white;
    border-radius: 10px;
  }
  
  .ratedMovie-title-box{
    color: white;
    width: 33.333%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
  }
  
  .ratedMovie-rating-box{
    display: none;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .ratedMovie-rating{
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-right: 1px;
  }
  
  .ratedMovie-star{
    position: absolute;
    top: 40%;
  }

  .ratedMovie:hover{
    background: rgba(0,0,0,0.0);
  }

  .ratedMovie-mobile-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
  }

  .ratedMovie-mobile-poster{
    height: 95%;
    width: 90%;
    border-radius: 10px;
  }

  .ratedMovie-mobile-cover{
    height: 95%;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
  }

  .ratedMovie-mobile-rating{
    color: white;
    position: absolute;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    font-weight: bold;
  }

  .ratedMovie-mobile-star{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
  }
}

@media (min-width: 1026px) and (max-width: 1600px){
  .s1{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  
  .s2{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .s3{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .s3 p{
    font-size: 30px;
    margin-left: 10px;
    cursor: pointer;
    transition: .2s;
  }
  
  .searchbar-title{
    font-family: 'Madimi One';
    font-size: 2.5em;
    font-weight: bold;
    color: white;
    margin-left: 50px;
    cursor: pointer;
    transition: .3s;
  }
  
  .searchbar-title-logo{
    font-size: 60px;
    margin-left: 10px;
  }
  
  .searchbar-results{
    font-size: 20px;
    color: white;
    margin-left: 10px;
    padding: 3px;
  }
  
  .searchbar-results span{
    font-weight: bold;
  }
  
  .searchbar-title:hover{
    letter-spacing: 5px;
  }
  
  .searchbar-input{
    height: 50px;
    width: 50%;
    border-radius: 50px;
    font-size: 25px;
    background: rgba(115,0,255,1);
    color: white;
    text-align: center;
    outline: none;
    border: 3px solid white;
    transition: .3s;
  }
  
  .searchbar-input::placeholder{
    color: rgba(255,255,255,0.7);
    font-style: italic;
  }
  
  .searchbar-reset{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    margin-left: 30px;
    font-weight: bold;
    font-family: 'Madimi One';
    border: 3px solid white;
    background: rgba(115,0,255,1);
    cursor: pointer;
    color: white;
    transition: .2s;
  }
  
  .searchbar-reset:hover{
    color: rgba(115,0,255,1);
    background: white;
  }
  
  
  .movie-box{
    height: 45%;
    min-width: 100%;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    align-items: center;
    list-style: none;
    transition: .2s;
  }
  
  ::-webkit-scrollbar{
    height: 20px;
  }
  
  ::-webkit-scrollbar-track{
    background: white;
  }
  
  ::-webkit-scrollbar-thumb{
    background: rgb(43, 43, 43);
    border-radius: 10px;
  }
  
  .movie-box-loader{
    height: 80%;
    width: 100%;
    display: flex;
    scroll-behavior: smooth;
    justify-content: center;
    align-items: center;
    transition: .2s;
  }
  
  .loader{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loader-noerror{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dot1{
    font-size: 100px;
    font-family: 'Madimi One';
    color: white;
    position: relative;
    animation: dotAnim .8s linear alternate infinite;
  }
  
  @keyframes dotAnim{
    0%{
      top: 0%;
    }
    25%{
      top: 4%;
    }
    50%{
      top: 8%;
    }
    80%{
      top: 4%;
    }
    100%{
      top: 0%;
    }
  }
  
  .dot2{
    font-size: 100px;
    font-family: 'Madimi One';
    color: white;
    position: relative;
    animation: dotAnim .8s .1s linear infinite;
  }
  
  .dot3{
    font-size: 100px;
    font-family: 'Madimi One';
    color: white;
    position: relative;
    animation: dotAnim .8s .2s linear infinite;
  }
  
  .dot4{
    font-size: 100px;
    font-family: 'Madimi One';
    color: white;
    display: flex;
    position: relative;
    animation: dotAnim .8s .3s linear infinite;
  }
  
  .movie-element{
    height: 90%;
    width: 15%;
    border-radius: 10px;
    flex: none;
    cursor: pointer;
    margin-left: 5px;
  }
  
  .movie-image{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: 3px solid white;
    transition: .3s;
  }
  
  .movie-image:hover{
    transform: scale(0.8);
  }
  
  .movielist-start{
    font-size: 100px;
    font-weight: bold;
    color: white;
    font-family: 'Madimi One';
    animation: robo 4s linear infinite;
  }
  
  @keyframes robo{
    0%{
      transform: rotate3d(0,1,0,0deg)
    }
    100%{
      transform: rotate3d(0,1,0,360deg)
    }
  }
  
  .details-box{
    background: linear-gradient(0deg, rgba(150,0,255,1) 0%, rgba(138,138,138,1) 100%);
    height: 45%;
    width: 100%;
    border-top: 3px solid white;
    display: flex;
    transition: .2s;
  }
  
  .details-box-notext{
    background: linear-gradient(0deg, rgba(150,0,255,1) 0%, rgba(138,138,138,1) 100%);
    height: 10%;
    width: 100%;
    border-top: 3px solid white;
    display: flex;
    transition: .2s;
  }
  
  .details-box-empty{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    height: 100%;
    width: 100%;
    position: relative;
  }
  
  .details-box-empty div{
    font-size: 15px;
    color: white;
  }
  
  .details-box-left{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1.5px solid white;
  }
  
  .details-box-left-con{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1.5px solid white;
  }
  
  .details-poster-box{
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
  }
  
  .details-poster{
    height: 300px;
    width: 250px;
    border: 2px solid white;
    border-radius: 10px;
  }
  
  .details-summary-box{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: left;
    color: white;
  }

  .details-summary-box h2{
    font-size: 20px;
    text-align: center;
  }

  .details-summary-box p{
    font-size: 14px;
  }
  
  .details-summary-box span{
    font-weight: bold;
  }
  
  .stars{
    display: flex; 
  }
  
  .star{
    font-size: 24px;
    cursor: pointer;
  }
  
  .rate-button{
    margin-top: 10px;
    width: 20%;
    height: 40px;
    background: rgba(150,0,255,1);
    border: 3px solid white;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    transition: .2s;
  }
  
  .rate-button:hover{
    color: rgba(150,0,255,1);
    background: white;
  }
  
  .details-plot{
    margin-top: 10px;
    padding-top: 5px;
  }
  
  .details-box-right{
    height: 100%;
    width: 50%;
    border-left: 2px solid white;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
  }
  
  .details-rated-title{
    font-size: 40px;
    color: white;
    font-weight: bold;
    font-family: 'Madimi One';
    display: flex;
    justify-content: center;
    border-bottom: 3px solid white;
    box-shadow: 0 0 5px black;
  }
  
  .ratedMovie{
    height: 180px;
    font-size: 15px;
    width: 100%;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    transition: .2s;
  }
  
  .ratedMovie:hover{
    background: rgba(0,0,0,0.2)
  }
  
  .ratedMovie-poster-box{
    height: 100%;
    width: 33.333%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ratedMovie-mobile-box{
    display: none;
  }
  
  .ratedMovie-poster{
    height: 100%;
    width: 60%;
    border: 2px solid white;
    border-radius: 10px;
  }
  
  .ratedMovie-title-box{
    color: white;
    width: 33.333%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-align: center;
  }
  
  .ratedMovie-rating-box{
    width: 33.333%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .ratedMovie-rating{
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-right: 1px;
  }
  
  .ratedMovie-star{
    position: absolute;
    top: 44.5%;
  }
}